<% @page_title = "Edit Server" %>

<%= link_to("<< Back to List", '/servers/admin', :class => 'back link') %>

<div class="servers edit">
  <h2>Edit Server #<%= @server.id%></h2>

  <%= form_for(@server) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= f.submit("Edit Server") %>
  </div>
  <% end %>
</div>
