<style>
.inline-button {
  display: flex;
  flex-flow: row wrap;
}

.inline-button input[type=submit] {
  margin-top: 16px;
  margin-right: 8px;
}

.inline-button * {
  margin-bottom: 2px;
}

.server-details p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 55px;
}

.alert {
  color: #D41111;
}

.running {
  color: #018903;
}
</style>

<title>Luricidex</title>
<h1>Site Under Constrution</h1>
<p>Your patience please</p>

<% @server.each do |server| %>
<ul>
  <li>
    <b><%= server.friendly_name %></b>:
    <% if server.online? %>
      <%= server.game_stats[:num_running] %> games running,
      <%= server.game_stats[:num_stopped] %> games stopped,
      up for <%= distance_of_time_in_words(server.uptime) %>
      <ul>
        <% server.games.each do |game| %>
        <li>
            <% if game.running? %>
              <div class="inline-button">
                <%= button_to "Stop!", { :action => 'command' }, {:params => {:game_id => game.id, :command => "call_stop" }} %>
                <p><b class="running"><%= game.friendly_name %></b>: Up for <%= distance_of_time_in_words(game.uptime) %> (<%= game.uptime %> seconds)</p>
              </div>
              <div class="server-details">
                <p><i><%= game.notes %></i></p>
              </div>
              <div class="inline-button">
                <%= button_to "Save!", { :action => 'command' }, {:params => {:game_id => game.id, :command => "call_save" }} %>
                <p> This map was last updated at <%= game.get_last_saved_at %></p>
              </div>
            <% else %>
              <div class="inline-button">
                <%= button_to "Start!", { :action => 'command' }, {:params => {:game_id => game.id, :command => "call_start" }} %>
                <p><b><%= game.friendly_name %></b>: Down for <%= distance_of_time_in_words(game.uptime) %> (<%= game.uptime %> seconds)</p>
              </div>
              <div class="server-details">
                <p><i><%= game.notes %></i></p>
              </div>
            <% end %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <i class="alert">Offline</i>
    <% end %>
  </li>
</ul>
<% end %>
