<% @page_title = "Edit Game" %>

<%= link_to("<< Back to List", '/games/admin', :class => 'back link') %>

<div class="games edit">
  <h2>Edit Game #<%= @game.id%></h2>

  <%= form_for(@game) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= f.submit("Edit Game") %>
  </div>
  <% end %>
</div>
